#personal-information{
    background-color: rgb(211, 223, 223);
    width: 850px;
}

.heading2 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: white;
 }
.heading3 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: white;
    
 }
footer{

    display: block;
    justify-content: flex-end;
    align-items: flex-end;
}
header{
    background-color: pink;
}
#education-experience{
    background-color: rgb(148, 163, 163);
}